APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Q04WxWsg6Dh8l6TSYxjnqgpcqbl5wDRENWcohiiQQFQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=CRMDB
DB_USERNAME=CRM
DB_PASSWORD=Qpl-y^?)iERJ

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=2525
MAIL_USERNAME=postmaster@sandboxd2863cd13cb248c28a84faa6378e1da0.mailgun.org
MAIL_PASSWORD=86ac571b4cf6cf0c2b5ec3f981447d46-2d27312c-7bd4129d
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN="sandboxd2863cd13cb248c28a84faa6378e1da0.mailgun.org"
MAILGUN_SECRET ="d13caffae9951073ac0d49911e914d26-2d27312c-fbab961es"


PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


